
html {
	overflow-x:hidden;
	overflow-y: scroll;
	font-family: "Courier New", Courier, monospace;
	height: 100%;
}

body{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	height: 100%;
	padding: 0;
}

#homepage{
	background-color: black;
	min-height: 100vh;
}

#myVideo {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  top: -9%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

main{
	width: 100%;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
	background-color: white;
}

.container1 {
	height: 120px;
	min-width: 150px;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden; /* Disable horizontal scroll */
	margin-top: 150px;
}

.container2 {
	height: 120px;
	min-width: 150px;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden; /* Disable horizontal scroll */
	margin-top: 230px;
}

.container3 {
	height: 120px;
	min-width: 150px;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden; /* Disable horizontal scroll */
	margin-top: 310px;
}

.container4 {
	height: 120px;
	min-width: 150px;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden; /* Disable horizontal scroll */
	margin-top: 390px;
}


#shape4 {
	background-color: #c1c1c1	;
	min-height: 55%;
	margin-left: 20%;
	margin-top:0;
	min-width: 4%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label4{
	margin-top: 11%;
	float:right;
	color: white;
	margin-right: 15%;
	font-size: 1.3vw;
	overflow: hidden;
	float:right;
}

#shape3 {
	background-color: #c1c1c1	;
	min-height: 55%;
	margin-left: 20%;
	margin-top:0;
	min-width: 4%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label3{
	margin-top: 10%;
	float:right;
	color: white;
	margin-right: 0%;
	font-size: 1.3vw;
	overflow: hidden;
	float:right;
}

#shape2 {
	background-color: #c1c1c1	;
	min-height: 55%;
	margin-left: 20%;
	margin-top:0;
	min-width: 4%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label2{
	margin-top: 15%;
	float:right;
	color: white;
	margin-right: 22%;
	font-size: 1.3vw;
	overflow: hidden;
}

#shape1 {
	background-color: #c1c1c1;
	min-height: 55%;
	margin-left: 20%;
	margin-top:0;
	min-width: 4%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label1{
	margin-top: 15%;
	float:right;
	color: white;
	margin-right: 30%;
	font-size: 1.3vw;
	overflow: hidden;
}

#introText{
	font-size: 60px;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#belowText{
	margin-top: 2%;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#about{
	background-image: url(PICTURES/detroit4.JPG);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #dbdde0;
	margin-top: 1%;
	padding: 0px;
	body: 0px;
	margin: 0;
}

#projects{
	background-image: url(PICTURES/code.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
	width: 100%;
	display:block;
}

#small{
	font-size: 2vw;
	color: white;
}

#big{
	font-size: 4.5vw;
	color: white;
	line-height:25%;
}

#small1{
	font-size: 2vw;
	line-height: 250%;
	color: white;
}

#big1{
	font-size: 4.5vw;
	color: white;
	line-height:100%;
}

#fixProject{
	margin-bottom: 10%;
}

#abouttext{
	font-size: 28px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 13%;
	line-height: 150%;
}

.column {
  float: left;
  width: 33.33%;
	background-color: white;
}

.leftimage{
	border-radius: 0%;
	width: 50%;
	height: 50%;
	border: 1px solid black;
	margin-left: 52%;
	transition: .8s ease;
  backface-visibility: hidden;
	opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	margin-left: 27%;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	margin-left: 0.5%;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  position: relative;
	width: 100%;
	height: 100%;
}

.container:hover .leftimage {
  opacity: 0.3;
}

.container:hover .middleimage {
  opacity: 0.3;
}

.container:hover .rightimage {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .middle1 {
  opacity: 1;
}

.container:hover .middle2 {
  opacity: 1;
}

.text {
  background-color: ; /* Add background color for textboc here*/
  color: white;
  font-size: 2vw;
	border:3px;
	border-style:solid;
	border-color:white;
	padding: 5px;
}

.middleimage{
	border-radius: 0%;
	width: 50%;
	height: 50%;
	border: 0px solid white;
	transition: .8s ease;
	backface-visibility: hidden;
	opacity: 1;
}

.rightimage{
	border-radius: 0%;
	width: 50%;
	height: 50%;
	border: 0px solid white;
	margin-right: 56%;
	transition: .8s ease;
	backface-visibility: hidden;
	opacity: 1;
}

#resume{
	background-color: #dbdde0;
	height: 100%;
	width: 100%;
}

.column1 {
  float: left;
  padding: 10px;
}

.column2 {
  float: left;
  padding: 10px;
}

.l {
  width: 25%;
  margin-left: 15%;
	margin-right: 2%;
	text-align: left;
}

.r {
  width: 45%;
	margin-left: 2%;
}

.textContainer{
	text-align: left;
}

.left {
  width: 25%;
  margin-left: 15%;
	margin-right: 2%;
	text-align: left;
}

.right {
  width: 45%;
	margin-left: 2%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.resumeimage{
	width: 100%;
	min-width:230px;
	border-radius: 7%;
}


#footer{
	background-color: white;
	height: 40%;
	width: 100%;
}

/* Clear floats after the columns */
.columnOne {
  float: left;
	background-color: white;
	width:49%;

}

.linkedin{
	float:right;
}
.facebook{
	margin-left: 3%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 150%;
  opacity: 0;
  transition: .9s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: .5;
}

@media screen and (max-width: 800px) {
    .container1, .container2, .container3, .container4{
        display:none;
    }
		#belowText{
			margin-top: 12%;
			font-size: 25px;
		}
		#introText{
			font-size: 45px;
		}
		#small{
			display: none;
		}
		#big{
			position: relative;
			font-size: 8vw;
			line-height: 40%;
			top: 80px;
		}
		#about{
			background-image: url(PICTURES/detroit5.JPG);
			background-size: 100%;
			background-repeat: no-repeat;
			background-color: #dbdde0;
			margin-top: 1%;
			padding: 0px;
			body: 0px;
			margin: 0;
		}
		#abouttext{
			position: static;
			top: 60px;
			font-size: 25px;
			line-height: 120%;
			margin-top: 25%;
			margin-left: 10%;
			margin-right: 10%;
		}
		.column{
			width: 100%;
		  float: left;
		}
		.leftimage{
			margin: 0;

		}
		.middleimage{
			margin: 0;

		}
		.rightimage{
			margin: 0;

		}
		.text{
			font-size: 4vw;
		}
		.middle{
			margin-left: 0;
		}
		.middle2{
			left: 50%;
		}
		#projects{
			background-image: url(PICTURES/code1.jpg);
			background-repeat: no-repeat;
			background-size: 100%;
			background-color: white;
			width: 100%;
			display:block;
		}
		#small, #small1{
			display:none;
		}
		#big, #big1{
			position: relative;
			font-size: 8vw;
			line-height: ;
			top: -40px;
		}

		.left{
			width: 100%;
			float:left;
			margin-left: -1.5%;
		}

		.left img{
			width: 425px;
			margin: 0;
		}

		.right{
			width: 100%;
			float:left;
		}

		.textContainer{
			width: 400px;
			text-align: left;
			margin-left: -5%;
		}


		.l{
			width: 100%;
			float:left;
			margin-left: 0;
		}

		.l img{
			width: 425px;
			margin: 0;
		}

		.r {
			width: 100%;
			float:left;
		}

}
