
html {
	overflow-x:hidden;
	overflow-y: scroll;
	font-family: "Courier New", Courier, monospace;
}

body{
	font-family: "Courier New", Courier, monospace;
	background-image: url(pictures/gradient.jpg);
	margin: 0;
	padding: 0;
	background-vide
}

#myVideo {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  top: -9%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

main{
	width: 100%;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

.container1 {
  height: 25%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	margin-top: 6%;
}

.container2 {
	height: 25%;
	width: 10%;
	margin-top: 11%;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.container3 {
	height: 25%;
	width: 15%;
	margin-top: 21%;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.container4 {
	height: 25%;
	width: 15%;
	margin-top: 30%;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

#shape4 {
	background-color: #c1c1c1	;
	height: 55%;
	margin-left: 13%;
	margin-top:20%;
	width: 3%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label4{
	margin-top: 33%;
	float:right;
	color: white;
	margin-right: 35%;
	font-size: 1.6vw;
	overflow: hidden;
	float:right;
}

#shape3 {
	background-color: #c1c1c1	;
	height: 55%;
	margin-left: 13%;
	margin-top:20%;
	width: 3%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label3{
	margin-top: 33%;
	float:right;
	color: white;
	margin-right: 22%;
	font-size: 1.6vw;
	overflow: hidden;
	float:right;
}

#shape2 {
	background-color: #c1c1c1	;
	height: 55%;
	margin-left: 20%;
	margin-top:39%;
	width: 5%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label2{
	margin-top: 60%;
	float:right;
	color: white;
	margin-right: 10%;
	font-size: 1.6vw;
	overflow: hidden;
}

#shape1 {
	background-color: #c1c1c1;
	height: 55%;
	margin-left: 20%;
	margin-top:0;
	width: 5%;
	clear: right;
	overflow: hidden;
	float:left;
}

#label1{
	margin-top: 20%;
	float:right;
	color: white;
	margin-right: 20%;
	font-size: 1.6vw;
	overflow: hidden;
}

#introText{
	margin-top: 20%;
	font-size: 4vw;
	color: white;
	margin-left: 17%;
	margin-bottom: 0;
}

#belowText{
	margin-top: 2%;
	font-size: 2vw;
	color: white;
	margin-left: 45%;
}

#about{
	background-image: url(pictures/detroit4.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #dbdde0;
	margin-top: 1%;
	padding: 0px;
	body: 0px;
	margin: 0;
}

#projects{
	background-image: url(pictures/code.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #dbdde0;
	height: 100%;
	width: 100%;
}

#small{
	font-size: 2vw;
	color: white;
}

#big{
	font-size: 4.5vw;
	color: white;
	line-height:25%;
}

#fixProject{
	margin-bottom: 20%;
}

p{
	margin-left: 25%;
	margin-right: 25%;
}

.column {
  float: left;
  width: 33.33%;
	background-color: #dbdde0;
}

.leftimage{
	border-radius: 0%;
	width: 75%;
	height: 75%;
	border: 1px solid black;
	margin-left: 27%;
	transition: .8s ease;
  backface-visibility: hidden;
	opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	margin-left: 14%;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
	margin-left: 6%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
	margin-left: 0.5%;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.container {
  position: relative;
	width: 100%;
	height: 100%;
}

.container:hover .leftimage {
  opacity: 0.3;
}

.container:hover .middleimage {
  opacity: 0.3;
}

.container:hover .rightimage {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .middle1 {
  opacity: 1;
}

.container:hover .middle2 {
  opacity: 1;
}

.text {
  background-color: ; /* Add background color for textboc here*/
  color: white;
  font-size: 2vw;
	border:3px;
	border-style:solid;
	border-color:white;
	padding: 5px;
}

.middleimage{
	border-radius: 0%;
	width: 75%;
	height: 75%;
	border: 0px solid white;
	transition: .8s ease;
	backface-visibility: hidden;
	opacity: 1;
}

.rightimage{
	border-radius: 0%;
	width: 75%;
	height: 75%;
	border: 0px solid white;
	margin-right: 25%;
	transition: .8s ease;
	backface-visibility: hidden;
	opacity: 1;
}

#resume{
	background-color: #dbdde0;
}

#column1{
	float: left;
}

.column1 {
  float: left;
}

.left {
	margin-left: 1%;
  width: 45%;
	float: left;
}

.right {
	margin-right:10%;
  width: 44%;
	float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
